<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: white;

        }

        body {
            background-color: black;

        }

        .prof {
            position: absolute;
            left: 50%;
            top:3%;
            transform: translate(-50%);
            border: 1px solid whitesmoke;
            padding: 7px;
            text-align: center;
            margin-bottom: 20px;
            margin-top:50px;
            width: 70%;
        }

        /* .prof h1{ */
        /* color: black;
            -webkit-text-stroke: 1px red;

        } */

        .profile {
            position: absolute;
            left: 50%;
            top:18%;
            transform: translate(-50%);
            width: 70%;
            border: 1px solid white;
            display: flex;
            padding: 20px;
            flex-direction: column;
            gap: 20px;
        }

        .profile-icon {
            display: flex;
            height: 100px;
            width: 100px;
            border: 3px solid red;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: whitesmoke;
        }

        .profile-icon h2 {
            font-size: 3rem;
            color: red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }

        .profile-info {

            padding-left: 10px;

        }

        .profile-info p {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .profile-detail {
            width: 100%;
            display: flex;
            border-bottom: 1px solid red;
            padding-bottom: 15px;


        }

        h3 {
            font-size: 2.5rem;
            margin-bottom: 5px
        }

        .extraInfo {

            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid red;
            padding-bottom: 20px;
        }

        .extraInfo div {
            height: 100px;
            width: 150px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        
    </style>
</head>

<body>
    <%- include('./auth/navbar')%>

    <div class="prof">
        <h1>Your Profile</h1>
    </div>

    <div class="profile">
        <div class="profile-detail">
            <div class="profile-icon">
                <h2><%=name[0].toUpperCase()%></h2>
            </div>
            <div class="profile-info">
                <h3><%=name%></h3>
                <p>
                    <i class="fa-solid fa-envelope" style="color: #ff0000;"></i>
                    <%= email%>
                </p>
                <p>
                    <i class="fa-solid fa-calendar-days" style="color: #ff1100;"></i>
                    Member Since:<%= date%></p>
            </div>

        </div>

        <div class="extraInfo">
            <div class="links">
                <h2 style="font-size: 2rem;color:red"><%=links%></h2>
                <p style="margin-top: 10px;font-weight: bold">Links Created</p>

            </div>
            <div class="click">

                <h2 style="font-size: 2rem;color:red">0</h2>
                <p style="margin-top: 10px;font-weight: bold;">Total Clicks</p>
            </div>
            <div class="active">
                <h2 style="font-size: 2rem;color:red">Yesterday</h2>
                <p style="margin-top: 10px;font-weight: bold;">Last Active</p>
            </div>
        </div>


        <div class="email-verification">
            <% if (isVerified){ %>
                <p style="font-size: 1.8rem;">Email Verification:
                    <span style="border: 1px solid greenyellow;border-radius: 15px;font-size:1rem;padding: 5px;"><i class="fa-solid fa-circle-check" style="color: #8cff00;"> Verified</i></span>

                </p> 
            <%}else{%>
            <p style="font-size: 1.8rem;">Email Verification:
                    <span style="border: 1px solid red;border-radius: 15px;font-size:1rem;padding: 5px;"><i class="fa-solid fa-circle-exclamation" style="color: red;"> Not Verified</i></span>


                    <a href="/verify-email" style="font-size: 1.2rem; background-color: whitesmoke;color:black;border-radius: 10px;padding:5px 8px"><i class="fa-solid fa-location-arrow fa-rotate-by" style="color: #000000; --fa-rotate-angle: 45deg;"></i> Verify Now</a>

                </p> 


            <%}%>
        </div>

    </div>

</body>

</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: white;
        }

        body {
            background-color: black;
        }

        .prof {
            position: absolute;
            left: 50%;
            top: 3%;
            transform: translate(-50%);
            border: 1px solid whitesmoke;
            padding: 7px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 50px;
            width: 70%;
        }

        .profile {
            position: absolute;
            left: 50%;
            top: 18%;
            transform: translate(-50%);
            width: 70%;
            border: 1px solid white;
            display: flex;
            padding: 20px;
            flex-direction: column;
            gap: 20px;
        }

        .profile-icon {
            display: flex;
            height: 100px;
            width: 100px;
            border: 3px solid red;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background-color: whitesmoke;
        }

        .profile-icon h2 {
            font-size: 3rem;
            color: red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .profile-info {
            padding-left: 10px;
        }

        .profile-info p {
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .profile-detail {
            width: 100%;
            display: flex;
            border-bottom: 1px solid red;
            padding-bottom: 15px;
        }

        h3 {
            font-size: 2.5rem;
            margin-bottom: 5px;
        }

        .extraInfo {
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid red;
            padding-bottom: 20px;
        }

        .extraInfo div {
            height: 100px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .email-verification {
            padding: 10px 0;
        }

        .email-verification p {
            display: flex;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;
        }

        .email-verification span {
            display: inline-flex;
            align-items: center;
            gap: 5px;
        }
    </style>
</head>

<body>
    <%- include('./auth/navbar')%>

        <div class="prof">
            <h1>Your Profile</h1>
        </div>

        <div class="profile">
            <div class="profile-detail">
                <div class="profile-icon">
                    <h2><%=name[0].toUpperCase()%></h2>
                </div>
                <div class="profile-info">
                    <h3><%=name%></h3>
                    <p>
                        <i class="fa-solid fa-envelope" style="color: #ff0000;"></i>
                        <%= email%>
                    </p>
                    <p>
                        <i class="fa-solid fa-calendar-days" style="color: #ff1100;"></i>
                        Member Since: <%= date%>
                    </p>
                </div>
            </div>

            <div class="extraInfo">
                <div class="links">
                    <h2 style="font-size: 2rem; color: red;"><%=links%></h2>
                    <p style="margin-top: 10px; font-weight: bold;">Links Created</p>
                </div>
                <div class="click">
                    <h2 style="font-size: 2rem; color: red;">0</h2>
                    <p style="margin-top: 10px; font-weight: bold;">Total Clicks</p>
                </div>
                <div class="active">
                    <h2 style="font-size: 2rem; color: red;">Recently</h2>
                    <p style="margin-top: 10px; font-weight: bold;">Last Active</p>
                </div>
            </div>

            <div class="email-verification">
                <% if (isVerified){ %>
                    <p style="font-size: 1.8rem;">
                        Email Verification:
                        <span
                            style="border: 1px solid greenyellow; border-radius: 15px; font-size: 1rem; padding: 5px;">
                            <i class="fa-solid fa-circle-check" style="color: #8cff00;"></i> Verified
                        </span>
                    </p>
                    <%}else{%>
                        <p style="font-size: 1.8rem;">
                            Email Verification:
                            <span style="border: 1px solid red; border-radius: 15px; font-size: 1rem; padding: 5px;">
                                <i class="fa-solid fa-circle-exclamation" style="color: red;"></i> Not Verified
                            </span>
                            <a href="/verify-email"
                                style="font-size: 1.2rem; background-color: whitesmoke; color: black; border-radius: 10px; padding: 5px 8px; text-decoration: none;">
                                <i class="fa-solid fa-location-arrow fa-rotate-by"
                                    style="color: #000000; --fa-rotate-angle: 45deg;"></i> Verify Now
                            </a>
                        </p>
                        <%}%>
            </div>
        </div>

</body>

</html>